.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
   

   
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-size: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}

.popular-item{
    
    margin-top: 40px;
    display: flex;
    gap: 10px;
 
   
}

/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

/* Tablet ke liye */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile ke liye */
@media (max-width: 480px) {
  .app {
    padding: 10px;
  }
}
