.productdisplay{
    display: flex;
    margin: 0px 70px;
}
.productdisplay-left{
    display: flex;
    gap: 10px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.productdisplay-img-list img{
    height: 100px;
}
.productdisplay-main-img{
    width: 390px;
    height: 430px;
}
.productdisplay-right{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 500;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 12px;
}
.productdisplay-right-price{
    display: flex;
    margin: 30px 0px;
    gap: 15px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplat-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 10px;
    font-weight: 300;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 20px;

}
.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 20px;
    width: 150px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: #ff4141;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;

}
.productdisplay-right-category span{
    font-weight: 400;
}